HELP.md

# =========================
# Maven / Java
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Spring Tool Suite (STS)
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.metadata/
.idea/
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/extensions.json

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Environment Variables
# =========================
.env
.env.*
application-dev.properties

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================
build/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Temporary Files
# =========================
temp/
tmp/
food images/
docs/

# =========================
# Visual Studio / Misc
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?